/* Styles specific for the cv page */

body {
    grid-template-rows: 4rem 1fr 5rem;
}

.duration {
    width: 25%;
    padding-top: 2rem;
    font-size: 1.35rem;
    font-family: "Cormorant Garamond", serif;
}

.experience {
    width: 75%;
    padding-top: 2rem;
}

/* responsive layout below */

@media only screen and (max-width: 500px) {
    .duration {
        padding-right: var(--gap-width);
    }


    @media only screen and (min-width: 601px) and (max-width: 767px) {}

    @media only screen and (min-width: 768px) and (max-width: 1249px) {}

    @media screen and (min-width: 1250px) {}