/* Styles specific for the landing page */

.heading {
    grid-column: 2/span 10;
    align-self: center;
    grid-row: 3/4;
    padding: 0.75rem 0;
}

#portrait {
    background-image: url("../img/portr__.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-column: 2/7;
    grid-row: 2/span 1;
    max-height: 40vh;
}

#profile-text {
    grid-column: 7/-2;
    grid-row: 2/span 1;
    padding: 1rem;
    max-height: 40vh;
}

#profile-text p {
    margin-top: 1rem;
}

/* Project cards below */



.card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap-width);
    grid-column: 2/-2;
    grid-row: 4/span 1;
    padding-bottom: 10px;
}

.project-card {
    flex: 1;
    filter: saturate(60%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: none;
    transition-timing-function: ease-in-out;
    text-align: right;
}

.project-card h3 {
    margin: 1rem auto auto 1rem;
    padding: 0.25rem 0 0.25rem var(--gap-width);
    background-color: var(--main-background-color-a);
    text-align: left;
}

.project-card:nth-child(1) {
    background-image: url("../img/mockup1.png");
}

.project-card:nth-child(2) {
    background-image: url("../img/mockup_vector.jpg");
}

.project-card:nth-child(3) {
    background-image: url("../img/sketch.png");
}

.project-card:nth-child(4) {
    background-image: url("../img/mockup_logo.jpg");
}

.project-card:hover {
    filter: none;
    transition-duration: 0.2s;
}

.project-card p {
    display: inline-block;
    background-color: var(--main-background-color-a);
    margin-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 0;
    font-weight: 400;
    transition-duration: 0.2s;
}

.project-card p:hover {
    padding-right: 1.5rem;
    cursor: pointer;
}

/* page specific responsive layout below */


@media only screen and (max-width: 600px) {
    body {
        grid-template-rows: 4rem auto auto auto auto 5rem;
    }

    .card-wrapper {
        grid-row: 5/span 1;
        grid-column: 1/span 1;
        width: calc(100% - (2 * var(--gap-width)));
        margin: 0 var(--gap-width);
    }

    .project-card {
        flex-basis: 40%;
        max-width: 50%;
        min-height: 300px;
        filter: saturate(80%);
    }


    #portrait {
        grid-row: 2/span 1;
        width: calc(100% - 2 * var(--gap-width));
        grid-column: 1/span 1;
        min-height: 250px;
        margin: 0 var(--gap-width);
        ¨
    }

    #profile-text {
        grid-row: 3/span 1;
        grid-column: 1/span 1;
        margin: 0 var(--gap-width);
        padding: 0;
    }


    .heading {
        grid-column: 1/1;
        align-self: center;
        grid-row: 4/5;
        padding: 0.75rem 0 0.75rem calc(var(--gap-width) + 10px);

    }
}


@media only screen and (min-width: 601px) and (max-width: 767px) {

    body {
        grid-template-rows: 4rem auto 2rem auto 5rem;
    }

    #portrait,
    #profile-text {
        max-height: 60vh;
    }

    .project-card {
        flex-basis: 40%;
        max-width: 50%;
        min-height: 300px;
        filter: saturate(80%);
    }
}

@media only screen and (min-width: 768px) and (max-width: 1249px) {}

@media screen and (min-width: 1250px) {}