/* Styles specific for the portfolio page */

body {
    grid-template-rows: 4rem 1fr 5rem;
}

.container {
    gap: var(--gap-width);
    grid-row: 2/span 1;
}

/* styles for the cards*/
.portfolio-item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-shrink: 0;
    width: calc(100% / 3);
    height: 340px;
    object-fit: cover;
}

.portfolio-item section {
    width: 100%;
    min-height: 300px;
    padding: 0 var(--gap-width) var(--gap-width) var(--gap-width);
    background-color: var(--secondary-background-color);
}

.portfolio-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/*The icons showing which technologies are being used for each project */
.iconContainer {
    color: var(--text-color);
    font-size: 2rem;
    height: 3.5rem;
    text-align: center;
}

.iconContainer i {
    padding: 0 1rem;
}

/*Links to repo / live / code for each project */
.linkContainer {
    color: var(--text-color);
    font-size: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: -2rem;
    width: 100%;
}

.linkContainer a {
    background-color: var(--main-background-color-a);
    padding: 0 0.2rem;
}

.linkContainer a:hover {
    transform: translateX(0.5rem);
}

/* -----------------------------------------------------------------------------------------------------------------------------------------*/
/* One requirement for this task was to find and paste somebody elses code. BELOW is CSS for the image slider, that was copied into my project. I have made adjustments to adapt it to my project. Source: https://www.codingnepalweb.com/draggable-image-slider-html-css-javascript/ */
.wrapper {
    padding-top: var(--gap-width);
    display: flex;
    align-items: center;
    max-width: 100%;
    position: relative;
    min-height: 65vh;
    flex-grow: 1;
    align-self: stretch;
}

.arrowIcon {
    height: 50px;
    width: 40px;
    padding: 10px;
    color: var(--text-color);
    cursor: pointer;
    font-size: 2rem;
    text-align: center;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.arrowIcon:active {
    transform: translateY(-50%) scale(0.9);
}

.arrowIcon:first-child {
    left: -50px;
}

.arrowIcon:last-child {
    right: -50px;
}

.carousel {
    display: flex;
    overflow-x: hidden;
    font-size: 0px;
    white-space: nowrap;
    scroll-behavior: smooth;
    min-height: 600px;
}

.portfolio-item {
    height: 340px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
    flex-shrink: 0;
}

.descriptiveText {
    font-size: 1rem;
    line-height: 1.5;
    padding-bottom: 1rem;
    font-weight: lighter;
    color: var(--text-color);
    /*added wordbreak and whitespace to prevent the p from overflowing the container */
    word-break: normal;
    white-space: normal;
}

.portfolio-item:first-child {
    margin-left: 0px;
}

/* One requirement for this task was to find and paste somebody elses code. ABOVE is code for the image slider, which I didn't write myself. Source: https://www.codingnepalweb.com/draggable-image-slider-html-css-javascript/ */
/* -----------------------------------------------------------------------------------------------------------------------------------------*/


/* RESPONSIVE CSS BELOW */

@media screen and (max-width: 900px) {
    .portfolio-item {
        width: calc(100% / 2);
    }
}

@media only screen and (max-width: 600px) {

    .wrapper {
        width: 100vw;
    }

    .carousel {
        width: 1fr;
    }

    .container {
        padding: 0 0 0 0;
    }

    .heading {
        margin-left: var(--gap-width);
    }

    .portfolio-item {
        width: 100%;
    }