/* Styles specific for the portfolio page */

body {
    grid-template-rows: 4rem 1fr 5rem;
}

.container {
    gap: var(--gap-width);
    height: 100%;
}

.portfolio-item {
    display: flex;
    flex-wrap: wrap;
    min-width: 400px;
    height: 100%;
    justify-content: start;
}

.portfolio-item section {
    width: 100%;
    height: 50%;
    padding: var(--gap-width);
    background-color: var(--secondary-background-color);
}

.portfolio-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

*/ @media only screen and (max-width: 600px) {
    .portfolio-item section {
        width: 100vw;
    }

    .portfolio-item img {
        width: 100%;
        margin-right: 0;
    }

}



/* below is code for loading info, when the page is waiting for the github repos */

#loading {
    height: 80vh;
    width: 100vw;
    position: absolute;
    top: 4rem;
    text-align: center;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10000;
}

#loadDots {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
    gap: 1rem;

}

#loadDot1,
#loadDot2,
#loadDot3 {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    animation-iteration-count: infinite;
}

@keyframes dot-animation {
    0% {
        border: 1px solid white;

    }

    100% {
        border: 1px solid var(--text-color);
    }
}

#loadDot1 {
    animation-delay: 0s;
    animation-duration: 1s;
    animation-name: dot-animation;
}

#loadDot2 {
    animation-delay: 0.25s;
    animation-duration: 1s;
    animation-name: dot-animation;
}

#loadDot3 {
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-name: dot-animation;
}


/* above is code for loading info, when the page is waiting for the github repos */



/* One requirement for this task was to find and paste somebody elses code. BELOW is CSS for an image slider, that was copied into my project. I have made adjustments to adapt it to my project. Source: https://www.codingnepalweb.com/draggable-image-slider-html-css-javascript/ */


.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    padding-top: var(--gap-width) display: flex;
    max-width: 100%;
    position: relative;
    height: 100%;
}

.arrowIcon {
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.arrowIcon:active {
    transform: translateY(-50%) scale(0.9);
}

.arrowIcon:hover {
    background: #f2f2f2;
}

.arrowIcon:first-child {
    left: -50px;
    display: none;
}

.arrowIcon:last-child {
    right: -50px;
}

.wrapper .carousel {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    font-size: 0px;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    height: 100%;
}

.carousel .dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.carousel .dragging {
    pointer-events: none;
}

.portfolio-item {
    height: 340px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
    flex-shrink: 0;

}

.descriptiveText {
    font-size: 1rem;
    line-height: 1.5;
    padding-bottom: 1rem;
    font-weight: lighter;
    color: var(--text-color);
    /*added wordbreak and whitespace to prevent the p from overflowing the container */
    word-break: normal;
    white-space: normal;
}

.portfolio-item:first-child {
    margin-left: 0px;
}





@media screen and (max-width: 900px) {
    .portfolio-item {
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 550px) {
    .portfolio-item {
        width: 100%;
    }
}

/* One requirement for this task was to find and paste somebody elses code.ABOVE is an image slider, which I didn't write myself. Source: https://www.codingnepalweb.com/draggable-image-slider-html-css-javascript/ */

.iconContainer {
    color: var(--text-color);
    font-size: 2rem;
    height: 3.5rem;
    text-align: center;
}

.iconContainer i {
    padding: 0 1rem;
}