@media print {
    /* The style removes header and footer, makes the body background white and all text black. */

    * {
        color: black;
    }


    header,
    footer,
    nav {
        display: none !important;
    }

    body {
        background-color: white;
    }
}