/*Universal styling for all pages*/

/* CLAMP function sets min preferred and max value!  */

:root {
    --pop-accent-color: #000000;
    --active-color: var(--pop-accent-color);
    /* --active-color: #3f34a1; */
    --header-color: #000;
    --text-color: #2c2c2c;
    --shadow-color: #f3f3f3;
    --main-background-color: rgb(255, 255, 255);
    --main-background-color-a: rgba(255, 255, 255, 0.9);
    --secondary-background-color: #DDD;
    --gap-width: 20px;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* color: #161823; darker (shadow on header and footer)
        color: #1B1E2B; dark (header and footer) 
        color: #292D3E; less dark; (main window) 
        font-color: #BABED8; gray-blue-ish 
        /* --pop-accent-color: 
        --text-color:
        --secondary-background-color: */
    }
}

/* reset and global styling */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 10px repeat(10, 1fr) 10px;
    grid-template-rows: 4rem 1fr 2rem 1fr 5rem;
    gap: var(--gap-width);
    background-color: var(--main-background-color);
    font-family: "Quicksand", serif;
    min-height: 100vh;
}


/*general text styling below*/

h1,
h2,
h3,
h4 {
    font-family: "Cormorant Garamond", serif;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

p {
    line-height: 1.5;
    padding-bottom: 1rem;
    font-weight: lighter;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:visited {
    color: var(--text-color);
}


/*header and navigation below*/


header {
    font-family: "Cormorant Garamond", serif;
    font-size: 1.5rem;
    grid-column: 1/-1;
    grid-row: 1/span 1;
    background-color: var(--main-background-color);
    color: var(--header-color);
    margin-bottom: 10px;
    box-shadow: 0px 5px 10px var(--shadow-color);
}


abbr {
    border-bottom: none;
    text-decoration: none;
}

#title,
nav {
    display: inline;
}


#menu {
    height: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    padding-left: var(--gap-width);
}

#menu li {
    list-style-type: none;
    margin-left: 1rem;
    padding-bottom: 1px;
}

#menu li:hover {
    cursor: pointer;
    text-decoration: var(--pop-accent-color) underline;
    text-decoration-thickness: 1.2px;
}


#menu li a {
    text-decoration: none;
    color: var(--text-color)
}

#menu li a:visited {
    color: var(--text-color)
}

.menu-toggle-btn {
    visibility: hidden;
}

.active {
    text-decoration: var(--active-color) underline;
    text-decoration-thickness: 1.2px;
    box-shadow: 0 1.2px 0 var(--active-color);
}

/* general content styling below */

.heading {
    grid-column: 2/span 10;
    align-self: center;
    padding: 0.75rem 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    grid-column: 2/span 10;
    grid-row: 2/span 1;
    align-content: start;
    padding-top: 1rem;
    min-height: 100%;
}

.container h2 {
    width: 100%;
    padding-bottom: 1rem;
    align-self: start;
}


.link {
    font-weight: 400;
    text-align: end;
}

.link a {

    transition-duration: 0.2s;
}

.link a:hover {
    padding-right: 0.5rem;
    cursor: pointer;
}

/* footer below */

footer {
    grid-column: 1/span 12;
    grid-row: -1/-2;
    background-color: var(--main-background-color);
    text-align: center;
    align-content: center;
    box-shadow: 0px 5px 10px var(--shadow-color) inset;
}

footer i,
footer i a:visited {
    font-size: 2rem;
    color: var(--text-color);
    margin: 0.5rem;
}

footer i:hover {
    /* color: var(--pop-accent-color); */
    filter: invert(30%);
}


/* responsive layout below */

@media screen and (max-width: 599px) {
    body {
        width: 100vw;
        grid-template-columns: 100%;
        grid-template-rows: 4rem auto 5rem;
        gap: var(--gap-width);
        min-height: 100vh;
    }

    #title {
        display: none;
    }

    header {
        grid-row: 1/span 1;
        grid-column: 1/span 1;
    }

    .container {
        grid-row: 2/span 1;
        grid-column: 1/span 1;
        padding: 0 var(--gap-width);
        height: 100%;
    }

    footer {
        grid-row: -1/span 1;
        grid-column: 1/span 1;
    }

    .menu-toggle-btn {
        margin-left: 90vw;
        z-index: 10;
        visibility: visible;
        font-size: 1rem;
        padding-right: var(--gap-width);
        cursor: pointer;
        transform: translateY(60%);
        font-size: 1.5rem;
        color: var(--pop-accent-color);
    }

    .hidden {
        display: none !important;
    }

    .static {
        overflow: hidden;
    }

    #menu {
        flex-direction: column;
        position: absolute;
        top: 3rem;
        padding: 0;
        margin: 0;
        width: 100vw;
        height: 100%;
        z-index: 2;
        background: var(--main-background-color-a);
    }

    #menu li {
        margin: 10% 0;
        font-size: 2rem;
    }
}


@media only screen and (min-width: 600px) and (max-width: 767px) {
    #title {
        margin-left: calc(var(--gap-width) + 10px);
    }
}

@media only screen and (min-width: 768px) and (max-width: 1149px) {
    #title {
        margin-left: calc(var(--gap-width) + 10px);
    }
}

@media screen and (min-width: 1150px) {
    body {
        width: 100vw;
        grid-template-columns: 20% repeat(10, calc((60% - 220px) / 10)) 20%;
        gap: var(--gap-width);
    }

    h1,
    h1 #title {
        margin-left: calc(20% + var(--gap-width));
        padding-left: 0;
    }
}