/*Universal styling for all pages*/

/* CLAMP function sets min preferred and max value!  */

:root {
    --pop-accent-color: #000000;
    --active-color: var(--pop-accent-color);
    /* --active-color: #3f34a1; */
    --header-color: #000;
    --text-color: #2c2c2c;
    --shadow-color: #f3f3f3;
    --main-background-color: rgb(255, 255, 255);
    --main-background-color-a: rgba(255, 255, 255, 0.9);
    --secondary-background-color: #DDD;
    --gap-width: 20px;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* color: #161823; darker (shadow on header and footer)
        color: #1B1E2B; dark (header and footer) 
        color: #292D3E; less dark; (main window) 
        font-color: #BABED8; gray-blue-ish 
        /* --pop-accent-color: 
        --text-color:
        --secondary-background-color: */
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 10px repeat(10, 1fr) 10px;
    /* grid-auto-rows: min-content; */
    grid-template-rows: 4rem auto 2rem auto 5rem;
    gap: var(--gap-width);
    background-color: var(--main-background-color);
    font-family: "Quicksand", serif;
    min-height: 100vh;
}

h1,
h2,
h3,
h4 {
    font-family: "Cormorant Garamond", serif;
}

h1 {
    font-size: 2rem;
}

h2 {

    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

p {
    line-height: 1.5;
    padding-bottom: 1rem;
    font-weight: lighter;
}

.heading {
    grid-column: 2/span 10;
    align-self: center;
    padding: 0.75rem 0;
}


header {
    font-family: "Cormorant Garamond", serif;
    font-size: 1.5rem;
    grid-column: 1/-1;
    grid-row: 1/span 1;
    background-color: var(--main-background-color);
    color: var(--header-color);
    margin-bottom: 10px;
    box-shadow: 0px 5px 10px var(--shadow-color);
    align-content: center;
}

footer {
    grid-column: 1/span 12;
    grid-row: -1/-2;
    background-color: var(--main-background-color);
    text-align: center;
    align-content: center;
    box-shadow: 0px 5px 10px var(--shadow-color) inset;
}

abbr {
    border-bottom: none;
    text-decoration: none;
}

#title,
nav {
    display: inline;
}

/* #title {
    padding-left: 50px;
    position: relative;
    top: 7px;
} */

#menu {
    height: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: var(--gap-width);
}

#menu li {
    list-style-type: none;
    margin-left: 1rem;
    padding-bottom: 1px;
}

#menu li:hover {
    cursor: pointer;
    text-decoration: var(--pop-accent-color) underline;
    text-decoration-thickness: 2px;
}


#menu li a {
    text-decoration: none;
    color: var(--text-color)
}

#menu li a:visited {
    color: var(--text-color)
}

.menu-toggle-btn {
    visibility: hidden;
}

.active {
    text-decoration: var(--active-color) underline;
    text-decoration-thickness: 2px;
    box-shadow: 0 2px 0 var(--active-color);
}


footer i,
footer i a:visited {
    font-size: 2rem;
    color: var(--text-color);
    margin: 0.5rem;
}

footer i:hover {
    /* color: var(--pop-accent-color); */
    filter: invert(30%);
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    grid-column: 2/span 10;
    grid-row: 2/span 1;
    align-items: stretch;
    padding-top: 1rem;
}

.container h2 {
    width: 100%;
    padding-bottom: 1rem;
}

.portfolio-item {
    display: flex;
    width: 100%;
    padding-bottom: var(--gap-width);
}

.portfolio-item section {
    width: calc(100% - (200px + var(--gap-width)));

}


.portfolio-item img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: var(--gap-width);
}

/* bortkommenterat är från codecademy */

/* .project-card img {
    max-width: 100%;
    height: auto;
    display: block;
} */

/* for css only used on the index-page */

#portrait {
    background-image: url("../img/portrait_.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-column: 2/7;
    grid-row: 2/span 1;
    box-shadow: 0 10px 10px var(--shadow-color);
}

#profile-text {
    grid-column: 7/-2;
    grid-row: 2/span 1;
    /* box-shadow: 5px 5px 10px var(--shadow-color); */
    padding: 1rem;
    align-self: stretch;
    max-height: 40vh;
}

#profile-text p {
    margin-top: 1rem;
}

.link {
    font-weight: 400;
    text-align: end;
}

.link a {
    text-decoration: none;
    color: var(--text-color);
    transition-duration: 0.2s;
}

.link a:hover {
    padding-right: 0.5rem;
    cursor: pointer;
}


.link a:visited {
    color: var(--text-color);
}


.card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap-width);
    grid-column: 2/-2;
    grid-row: 4/span 1;
    padding-bottom: 10px;
}

.project-card {
    flex: 1;
    /* height: 200px; */
    /* background-color: teal; */
    filter: saturate(70%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: none;
    transition-timing-function: ease-in-out;
    text-align: right;
}

.project-card h3 {
    margin: 1rem auto auto 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
}

.project-card:nth-child(1) {
    background-image: url("../img/mockup1.png");
}

.project-card:nth-child(2) {
    background-image: url("../img/mockup_vector.jpg");
}

.project-card:nth-child(3) {
    background-image: url("../img/sketch.png");
}

.project-card:nth-child(4) {
    background-image: url("../img/mockup_logo.jpg");
}

.project-card:hover {
    filter: none;
    transition-duration: 0.2s;
}

.project-card p {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 0;
    font-weight: 400;
    transition-duration: 0.2s;
}

.project-card p:hover {
    padding-right: 1.5rem;
    cursor: pointer;
}

/* for css only used on the cv-page */

.duration {
    width: 25%;
    padding-top: 2rem;
}

.experience {
    width: 75%;
    padding-top: 2rem;
}



@media screen and (max-width: 599px) {
    body {
        width: 100vw;
        grid-template-columns: 100%;
        grid-template-rows: 4rem auto auto auto auto 5rem;
        gap: var(--gap-width);
        min-height: 100vh;
    }

    #title {
        display: none;
    }

    #portrait {
        grid-row: 2/span 1;
        width: 100%;
        grid-column: 1/span 1;
        min-height: 250px;
    }

    #profile-text {
        grid-row: 3/span 1;
        grid-column: 1/span 1;
    }

    header {
        grid-row: 1/span 1;
        grid-column: 1/span 1;
    }

    .container {
        grid-row: 2/span 1;
        grid-column: 1/span 1;
        padding: 0 var(--gap-width);
    }

    .heading {
        grid-row: 4/span 1;
        grid-column: 1/span 1;
        width: 100%;
        z-index: 10;
    }

    .card-wrapper {
        grid-row: 5/span 1;
        grid-column: 1/span 1;
        width: 100%;
    }

    .project-card {
        flex-basis: 40%;
        max-width: 50%;
        min-height: 300px;
    }

    footer {
        grid-row: 6/span 1;
        grid-column: 1/span 1;
    }

    .menu-toggle-btn {
        margin-left: 85vw;
        z-index: 10;
        visibility: visible;
        font-size: 1rem;
        padding-right: var(--gap-width);
        cursor: pointer;
    }

    .hidden {
        display: none !important;
    }

    #menu {
        flex-direction: column;
        position: absolute;
        top: 3rem;
        padding: 0;
        margin: 0;
        width: 100vw;
        height: 100%;
        z-index: 2;
        background: var(--main-background-color-a);
    }

    #menu li {
        margin-bottom: 2rem;
    }


    /* h1,
    h1 #title {
        margin-left: calc(20% + var(--gap-width));
    } */
}


/* 
@media screen and (min-width 600px) and (max-width: 991px) {
    body {
        width: 100vw;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto 3rem auto auto auto auto 5rem;
        gap: var(--gap-width);
        min-height: 100vh;
    }

    h1,
    h1 #title {
        margin-left: calc(20% + var(--gap-width));
    } */
/* } */

@media only screen and (min-width: 600px) and (max-width: 767px) {
    #title {
        margin-left: calc(var(--gap-width) + 10px);
    }

    #contact {
        width: 100%;
        padding-left: 0;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1149px) {
    #title {
        margin-left: calc(var(--gap-width) + 10px);
    }

    #contact {
        width: calc(100% - 500px);
        padding-left: 0;
    }


}

@media screen and (min-width: 1150px) {
    body {
        width: 100vw;
        grid-template-columns: 20% repeat(10, calc((60% - 220px) / 10)) 20%;
        /* grid-template-rows: 4rem 3fr 3rem 3fr 5rem; */
        gap: var(--gap-width);
    }

    h1,
    h1 #title {
        margin-left: calc(20% + var(--gap-width));
        padding-left: 0;
    }

    #contact {
        width: calc(100% - 500px - 1rem);
        padding-left: 1rem;
    }

}